/*
Project Name: HTML Template
Client: Your Client
Author: Your Name
Developer: @poopsplat in Chicago
*/
@font-face {
    font-family: Ferretface; /* ÃƒÆ’Ã‚ÂÃƒâ€¹Ã…â€œÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚Â ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â° */
    src: url(../fonts/ferretface.ttf); /* ÃƒÆ’Ã‚ÂÃƒâ€¦Ã‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¦Ã¢â‚¬â„¢ ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Âº ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¹ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚ÂÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ */
   }

   @font-face {
    font-family: RBT; /* ÃƒÆ’Ã‚ÂÃƒâ€¹Ã…â€œÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚Â ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â° */
    src: url(../fonts/Roboto-Thin.ttf); /* ÃƒÆ’Ã‚ÂÃƒâ€¦Ã‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¦Ã¢â‚¬â„¢ ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Âº ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¹ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚ÂÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ */
   }

   @font-face {
    font-family: RBTL; /* ÃƒÆ’Ã‚ÂÃƒâ€¹Ã…â€œÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚Â ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â° */
    src: url(../fonts/Roboto-Light.ttf); /* ÃƒÆ’Ã‚ÂÃƒâ€¦Ã‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¦Ã¢â‚¬â„¢ ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Âº ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â°ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¹ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬ËœÃƒâ€ Ã¢â‚¬â„¢ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€šÃ‚ÂÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ ÃƒÆ’Ã¢â‚¬ËœÃƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¸ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã¢â‚¬ËœÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¾ÃƒÆ’Ã‚ÂÃƒâ€šÃ‚Â¼ */
   }
/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: black;
  font-size: 16px;
  background: white;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/*******************************************/

.main-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #eeeeee;
}

/*.main-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  }*/

  .main-wrapper:before {
    content: '';
    position: absolute;
    /* left: 31%; */
    top: -109%;
    width: 240%;
    height: 192%;
    background-color: #303030; /* fallback */
    top: -9%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(196deg);
  }

  .content-block {
    width: 960px;
    height: 540px;
    background: #fff;
    margin: auto auto;
    display: inline;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }

  .content-block:before {
    content: '';
    position: absolute;
    left: 45%;
    top: -109%;
    width: 240%;
    height: 192%;
    background-color: #1b1b1b; /* fallback */
    top: -22%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(196deg);
  }


  .main-wrapper {
    text-align: center;
  }

  .foto-big{
    display: inline-block;
    float: left;
    height: 100%;
  }

  .foto-big img{
    width: 400px;
    margin-top: 90px;
    margin-left: -16px;
  }

  .text-block{
    position: absolute;
    /* right: 0; */
    width: 460px;
    text-align: left;
    left: 550px;
    width: 300px;
    display: inline-block;
    margin-top: 96px;
  }

  .text-block .caption{
    display: inline-block;
    color: #fff;
    margin-top: 0px;
    font-family: RBTL;
    font-weight: thin;
    font-style: thin;
    font-weight: 100;
    font-size: 23px;
    margin-bottom: 14px;
  }

  .text-block span{
    display: block;
    color: #fff;
    font-family: RBTL;
    font-size: 15px;
  }

  .dark{
    color: #847575 !important;
  }

  .form{
    margin-top: 45px;
  }

  .form input{
    display: block;
    margin-bottom: 30px;
    background: #1b1b1b;
    border: 0;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 6px;
    font-size: 17px;
    outline: none;
    color: #655a5a !important;
    width: 100%;
    font-family: RBT;
  }

  .form input[placeholder]{
  color: #655a5a !important;
  }

  .button{
    font-family: Ferretface;
    font-size: 30px;
    /* display: inline-block; */
    text-align: right;
    color: #fff;
    cursor: pointer;
  }

  .social-icons{
        color: #fff;
        /* text-align: right; */
        position: absolute;
        right: 40px;
        font-size: 25px;
        top: 15px;
  }

  .social-icons i{
  margin-left: 5px;
  cursor: pointer;
  }


.register .text-block {
    left: 520px;
    width: 350px;
}

.register .text-block .caption {
    display: inline-block;
    margin-left: 93px;
}

.form-item {
    /* width: 100%; */
    color: #ad9b9b;
    font-family: RBTL;
    margin-bottom: 42px;
    font-size: 17px;
    display: inline-block;
    float: right;
}


.label {
    display: inline-block;
    float: left;
}

.form-item input{
    display: inline-block;
    float: left;
    margin-left: 8px;
    background: none;
    border: none;
    border-bottom: 2px solid #2f2f2f;
    margin-top: -6px;
    margin-bottom: 10px;
    outline: none;
    width: 255px;
}


.create-form {
    display: inline-block;
    margin-top: 20px;
}